body {
    padding: 10px;
    background-color: rgba(19, 19, 37, 1);
    font-family: Inter, Arial, Helvetica, sans-serif;
    
}

.logo {
    background-color: #ffd7d7;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    filter: brightness(3);
}

#title {
    font-size: 36px;
    padding-bottom: 0px;
    letter-spacing: -9%;
    font-weight: bold;
}

#sub-title {
    margin-top: -15px;
    font-size: 24px;
    letter-spacing: -4%;
    font-weight: 500;
}

.nav-bar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(23, 26, 36, 1);
    width: 800px;
    height: 55px;
    border-radius: 47px;
    box-shadow: 0px 4px 10px rgba(115, 171, 255, 0.25);
}

.nav-two {
    background-color: rgba(27, 30, 43, 1);
    width: 630px;
    height: 55px;
    border-radius: 47px;
    
}

.nav-items li{
    display: inline-block;
    bottom: 0%;
    padding-top: 16px;
    width: fit-content;
    padding-right: 20px;
    height: 100%;
}

.nav-items li a{
    color: rgba(239, 239, 239, 1);
    padding: 10px;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-right: 30px;
    border-radius: 47px;
}

.nav-btn.active {
    background-color: rgba(135, 154, 207, 0.729);
    box-shadow: 0px 4px 10px rgba(115, 171, 255, 0.25);
}

#dot {
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 80%;
    width: 30px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(23, 26, 36, 1);
    z-index: 1;
}

#create_listing {
    top: 50%;
    left: 80%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 45px;
    position: absolute;
    width: 130px;
    text-align: center;
    margin-right: 10px;
    background-color: rgba(255, 107, 0, 1);  
    border-radius: 47px; 
    padding-top: 10px;
}

#create_listing i {
    padding-top: 10px;
    padding-left: 50px;
}

#signin_status {
    position: absolute;
    top: 1%;
    right: 1%;
    color: #ffd7d7;
    list-style: none;
    text-align: right;
    font-size: 16px;
}

#username {
    font-size: 18px;
}

#signin_status a {
    color: #ffd7d7;
    font-size: 14px;

}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lal {
    position: absolute;
    top: 11%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: rgba(246, 248, 255, 1);
    font-weight: lighter;
    font-size: 16px;
    
}

.card {
    background-color: rgba(36, 43, 64, 1);
    width: 500px;
    height: fit-content;
    margin: 25px;
    border-radius: 30px;
    box-shadow: 4px 6px 9px 0px rgba(160, 195, 246, 0.25);
}

.card:hover {
    box-shadow: 6px 8px 9px 0px rgba(249, 133, 0, 0.654);
    transition: 200ms ease-in-out;
    transform: scale(1.01);
}

.card a {
    text-decoration: none;
}

img {
    width: 499px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: inset 0px 4px 4px rgba(176, 23, 23, 0.801);
}

.card-top {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#card_title {
    display: inline-block;
    color: rgba(246, 248, 255, 1);
    font-weight: bolder;
    font-size: 24px;
    margin-left: 30px;
}

#description {
    color: rgba(246, 248, 255, 1);
    font-weight: lighter;
    font-size: 16px;
    margin-left: 30px;
    
    max-width: 340px;
}

#price {
    color: rgba(246, 248, 255, 1);
    font-weight: bolder;
    font-size: 24px;
    margin-right: 30px;
}

.card-bottom {
    color: rgba(246, 248, 255, 1);
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 14px;
}

#date {
    margin-left: 30px;
}

#seller {
    margin-right: 30px;
}