* {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
   
body::-webkit-scrollbar-track {
    background-color: rgba(110, 91, 164, 0.92);
}
   
body::-webkit-scrollbar-thumb {
    background-color: rgba(24, 7, 69, 0.62);
    border-radius: 20px;
}

*:focus {
    outline: solid;
    outline-color: rgba(200, 200, 206, 0.599);
}

body {
    padding: 10px;
    background-image: url("img/abstract-paper-style-background_23-2150744372.jpg");
}

.logo {
    background-color: #ffd7d7;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    filter: brightness(3);
    
}

#title {
    font-size: 36px;
    padding-bottom: 0px;
    margin-left: 10px;
    letter-spacing: -9%;
    font-weight: bold;
}

#sub-title {
    margin-top: -15px;
    font-size: 24px;
    letter-spacing: -4%;
    font-weight: 500;
    margin-left: 10px;
}

.nav-bar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(23, 26, 36, 0.95);
    width: 800px;
    height: 55px;
    border-radius: 47px;
    box-shadow: 0px 4px 10px rgba(1, 7, 16, 0.25);
    
}

.nav-two {
    background-color: rgba(27, 30, 43, 0.2);
    width: 630px;
    height: 55px;
    border-radius: 47px;
    
}

.nav-items li{
    display: inline-block;
    bottom: 0%;
    padding-top: 16px;
    width: fit-content;
    
    padding-right: 20px;
    height: 100%;
}

.nav-items li a{
    color: rgba(239, 239, 239, 1);
    padding: 10px;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-right: 30px;
    border-radius: 47px;
}

.nav-btn:hover {
    transition: 200ms ease-in;
    background-color: rgba(135, 154, 207, 0.24);
    text-decoration: none;
}

.nav-btn.active {
    background-color: rgba(135, 154, 207, 0.729);
    box-shadow: 0px 4px 10px rgba(115, 171, 255, 0.25);
    font-weight: 600;
    
}

.nav-btn.active:hover{
    transition: 500ms;
    background: rgb(36,94,217);
    background: linear-gradient(283deg, rgba(36,94,217,1) 0%, rgba(135,154,207,0.73) 50%, rgba(36,94,217,1) 100%);
}

#dot {
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 80%;
    width: 30px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(23, 26, 36, 1);
    z-index: 1;
}

#create_listing {
    top: 50%;
    left: 80%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 45px;
    position: absolute;
    width: 130px;
    text-align: center;
    margin-right: 10px;
    background-color: rgba(255, 107, 0, 0.9);  
    border-radius: 47px; 
    padding-top: 10px;
}

#create_listing:hover {
    transition: 500ms;
    background: rgb(231,2,2);
    background: linear-gradient(283deg, rgba(231,2,2,1) 0%, rgba(255,107,0,1) 50%, rgba(231,2,2,1) 100%);
}

#create_listing:focus i½{
    outline: none;
}

#create_listing i {
    padding-top: 10px;
    padding-left: 50px;
}

.signin_status {
    position: absolute;
    top: 1%;
    right: 1%;
    color: #ffd7d7;
    list-style: none;
    text-align: right;
    font-size: 16px;
}

.signin_status li a {
    font-size: 14px;
    color: #ffd7d7;
}

#username {
    font-size: 20px;
    
}

#signin_status a {
    color: #ffd7d7;
    font-size: 14px;

}
.box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    padding-left: 4vw;
    width: 100%;
    margin-top: 50px;
}

.cat {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    margin-top: 100px;
}

#lal {
    position: absolute;
    top: 15%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: rgba(246, 248, 255, 1);
    font-weight: lighter;
    font-size: 18px;
}

#filter-box {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap: 2%;
    width: 100%;
}

#sort {
    display: flex;
    flex-wrap: nowrap;
}

.dropdown {
    margin-top: 50px;
    font-size: 14px;
    height: 40px;
    width: 150px;
    padding-left: 10px;
    border: 0;
    border-radius: 30px;
    background-color: rgba(144, 168, 216, 0.709);
    color: rgba(246, 248, 255, 1);
    font-weight: 600;
}

.dropdown:hover {
    background: linear-gradient(283deg, rgb(82, 125, 219) 0%, rgba(157, 179, 240, 0.73) 50%, rgb(82, 125, 219) 100%);
    box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.25);
    scale: 1.01;
    cursor: pointer;
}

.dropdown:active {
    scale: 1;
}

.dropdown option {
    background-color: rgba(83, 135, 239, 0.89);
    border: none;
    font-size: 14;
    font-weight: 600;
    height: 200px;
}

input[type=checkbox] {
    display: none;
}

label[for="id_asc"] {
    display: inline-block; 
    font-size: 0px;
    background-color: rgba(247, 109, 59, 0.945);
    background-image: url("img/order2.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 30px;
    height: 40px;
    width: 50px;
    margin-left: 5px;
    margin-top: 50px;
}

label[for="id_asc"]:hover {
    background-color: rgb(248, 93, 36);
    scale: 1.01;
    cursor: pointer;
    box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.25);

}

label[for="id_asc"]:active {
    transition: 200ms;
    rotate: 180deg;
}

.card {
    margin-top: 2%;
    background-color: rgba(36, 43, 64, 0.9);
    width: 300px;
    height: 430px;
    border-radius: 30px;
    box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.25);
}

.card:hover, .categories:hover {
    box-shadow: 3px 4px 6px 0px rgba(115, 171, 255, 0.25);;
    transition: 200ms ease-in-out;
    transform: scale(1.01);
}

.card a {
    text-decoration: none;
}

img {
    width: 299px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    -webkit-box-shadow: 0 4px 6px -6px #f6c1c1;
    -moz-box-shadow: 0 4px 6px -6px #ffbaba;
    box-shadow: 0 4px 6px -6px #b0b8ff;
    
}

.card-top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    line-height: 1;
}

#card_title {
    display: inline-block;
    color: rgba(246, 248, 255, 1);
    font-weight: bolder;
    font-size: 24px;
    margin-left: 20px;
    height: 50px;
    overflow: hidden;
    max-width: 160px;

}

#desc-box {
    height: 130px;
    margin-top: -15px;
}

#description {
    color: rgba(246, 248, 255, 1);
    font-weight: lighter;
    font-size: 14px;
    margin-left: 20px;
    overflow: hidden;
    max-height: 85px;
    margin-top: 0px;
    max-width: 260px;
    
}

#price {
    color: rgba(246, 248, 255, 1);
    font-weight: bolder;
    font-size: 20px;
    
    margin-right: 20px;
}

.card-bottom {
    color: rgba(246, 248, 255, 1);
    display: flex;
    justify-content: space-between;
    margin-top: auto;    
    font-weight: lighter;
    font-size: 11px;
}

#date {
    margin-left: 20px;
}

#seller {
    margin-right: 20px;
}

.categories {
    
    list-style-type: none;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: solid 1px;
    border-color: #ffd7d739;
    background-color: rgba(36, 43, 64, 1);
    margin: 20px;
}

.categories .text {
    display: inline-block;
    color: rgba(246, 248, 255, 1);
    font-weight: bolder;
    font-size: 16px;
    margin: 10px;
}

.authContainer, .listingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.loginCard {
    margin-top: 2%;
    background-color: rgba(36, 43, 64, 0.6);
    width: 500px;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.25);
}

.cardTitle {
    color: #ffd7d7;
    font-weight: 600;
}

.formDiv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
    
}

.formInput {
    width: 80%;
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    border: solid 2px #ffd7d7;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ffd7d7;
}

.formInput:disabled, .btnInput:disabled{
    opacity: 50%;
}

.formInput::placeholder {
    color: #fceeee98;
    font-size: 16px;
    font-weight: bold;
}

.formInput:focus {
    outline: none;
}

.formInput:focus::placeholder {
    transition: 200ms;
    color: transparent;
    font-size: 4px;
}

.btnInput {
    color: #ffd7d7;
    border-radius: 30px;
    width: fit-content;
    height: 40px;
    background-color: rgba(135, 154, 207, 0.729);
    box-shadow: 0px 4px 10px rgba(115, 171, 255, 0.25);
    font-weight: 600;
    border: none;
}

.btnInput:hover:not([disabled]){
    color: #ffd7d7;
    transition: 500ms;
    background: rgb(36,94,217);
    background: linear-gradient(283deg, rgba(36,94,217,1) 0%, rgba(135,154,207,0.73) 50%, rgba(36,94,217,1) 100%);
}

.regText {
    color: #ffd7d7cb;
    height: 40px;

}

.regLink {
    color: #fceeee;
    text-decoration: underline;
}

.regLink:hover {
    color: #fceeee;
}

#loginMessage {
    position: absolute;
    color:#d93939;
    margin-top: 10px;
    margin-left: 50px
}


.listingCard {
    margin-top: 2%;
    background-color: rgba(36, 43, 64, 0.9);
    width: 70%;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.25);
}

.commentSection {
    margin: 20px;
    margin-top: 100px;
}

.commentSection .btnInput {
    margin-left: 10px;
    background-color: #888bab86;
}

.commentTitle{
    color: #ffd7d7;
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 10px;
}

.commentForm {
    width: 70%;
    min-height: 40px;
}

.comment {
    display: flex;
    flex-wrap: wrap;
    color: #ffd7d7;
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 1px #7388c878;
}

.comment:last-child {
    border-bottom: solid 1px #7388c878;
    padding-bottom: 10px;

}

.comment span {
    font-weight: bold;
    margin-right: 5px;
}

.topListing {
    display: flex;
    height: 40vh;
}

.leftListing {
    width: fit-content;
}

.listingImage {
    
    width: 35vw;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 0;
}

.rightListing {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.listingTitle {
    color: #ffd7d7;
    font-weight: 600;
    font-size: 26px;
    width: 60%;
    height: fit-content;
}

.priceListing {
    margin-top: 0px;
    color: #ffd7d7;
    font-weight: 200;
    font-size: 16px;
    height: fit-content;
}

.priceListing span {
    font-weight: 300;
}

.priceListing .userGradient {
    font-weight: 600;
    font-size: 18px;
}
.userGradient {
    background: -webkit-linear-gradient(right,rgba(135,154,207,0.73) 0%, rgba(255,107,0,1) 50%, rgba(135,154,207,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bookmark {
    color: #ffd7d7;
    font-size: 18px;
    filter: drop-shadow(2px 1px 1px #f4f4ff89);
}
.watchlist {
    padding: 5px;
    width: fit-content;
}

.watchlistButton, .watchlistButtonAdd {
    background-color: transparent;
    border: none;
    font-size: 12px;
    width: fit-content;
    height: auto;
}
@media screen and (max-width:1400px) {
    .listingTitle {
        width: 80%;
    }
}


@media screen and (min-width:1400px){
    .watchlistButton::before {
        content: 'Remove From Watchlist';
        font-size: 0px;

    }
    .watchlistButtonAdd::before {
        content: 'Add to watchlist';
        font-size: 0px;
    }

    .watchlistButton:hover::before, .watchlistButtonAdd:hover::before {
        color: #ffd7d7;
        font-size: 0.7rem;
        font-weight: 600;
        padding-right: 5px;
        min-width: 40px;
        width: fit-content;
        height: 100px;
        transition: 300ms;
    }

    .watchlist:hover {
        background: rgb(36,94,217);
        background: linear-gradient(283deg, rgba(36,94,217,1) 0%, rgba(135,154,207,0.73) 50%, rgba(36,94,217,1) 100%);
        box-shadow: 0px 4px 10px rgba(115, 171, 255, 0.25);
        border: none;
        border-radius: 30px;   
    }
}

.listingDescription {
    color: #ffd7d7d2;
    font-weight: lighter;
    height: 22vh;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-color: rgb(107, 103, 158) transparent ;
    scrollbar-width: thin;
}

.listingBid {
    display: inline;
    
    width: 100%;
}

.listingBid .formInput {
    width: 170px;
    margin-right: 10px;
}

.underImage {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
}

#bidMessage {
    color: rgba(220, 20, 20, 0.832);
    font-weight: 300;
}



#closeMessage {
    color: rgb(96, 102, 170);
    font-size: 18px;
}

.close {
    opacity: 100%;
}

#closeAuction {
    background-color: rgb(214, 38, 38);
    font-weight: 600;
    font-size: 16px;
}

#closeAuction:hover {
    transition: 200ms;
    background: rgb(244, 0, 0);
    background: linear-gradient(283deg, rgb(255, 0, 0) 0%, rgb(192, 70, 70) 50%, rgba(216, 19, 19) 100%);
    transform: scale(1.02);
}

.winCard {
    position: fixed;
    left: 33%;
    top: 40%;
    background-color: rgba(23, 29, 51, 0.9);
    width: 500px;
    height: 120px;
    border-radius: 30px;
    box-shadow: 8px 12px 18px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: slideIn 900ms;
}

@keyframes slideIn {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(1);

    }
}

.winText {
    color: #ffd7d7;
    font-weight: 600;
}

.winText2 {
    color: #ffd7d7;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
}

.winText3 {
    color: #9b9393;
    font-weight: 400;
    font-size: 10px;
}

.winCard.disabled {
    display: none;
}

.createContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.createCard {
    margin-top: 2%;
    background-color: rgba(36, 43, 64, 0.6);
    width: 500px;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
}

.createCard option {
    background-color: rgba(83, 135, 239, 0.89);
    border: none;
    font-size: 14;
    font-weight: 600;
    height: 200px;
}
