{% extends "auctions/layout.html" %}

{% block body %}

    <div class="box">
        <h2 id="lal">Listings in the category: {{category}}</h2>
    {% for listing in listings %}
        <div class="card">
            <a href="listing/{{ listing.id }}">
                {% if listing.image != None%}
                    <img src="{{listing.image}}">
                {% endif %}
                <div class="card-top">
                    <b id="card_title">{{ listing.title }}</b>
                    <i id="price">${{ listing.price.bid }}</i>
                </div>
                <br>
                <div id="description">{{ listing.description }}</div>
                <div class="card-bottom">
                    <div id="date"><i class="fa-solid fa-calendar-days"></i>  {{ listing.datetime}}</div>
                    <div id="seller"> <i class="fa-solid fa-user"></i>  {{ listing.seller}}</div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}