{% extends "auctions/layout.html" %}

{% block body %}
    <div class="createContainer">
        <div class="createCard">
            <div class="formDiv">
                <h2 class="cardTitle"> Create listing </h2>
            </div>
            <form action="{% url 'create_listing' %}" method="post">
                {% csrf_token %}
                <div class="formDiv">
                    <input class="formInput" required autofocus type="text" name="title" placeholder="Title (max 64 characters)">
                </div>
                <div class="formDiv">
                    <input class="formInput" required type="text" name="description" placeholder="Description (max 600 characters)">
                </div>
                <div class="formDiv">
                    <input class="formInput" required type="number" name="price" placeholder="Starting bid ($)">
                </div>
                <div class="formDiv">
                    <select class="formInput" type="text" name="category" placeholder="category">
                        <option value="" disabled selected> Category</option>
                        {% for category in CATEGORIES %}
                        <option value={{category}}> {{category}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="formDiv">
                    <input class="formInput" type="text" name="imageurl" placeholder="Image URL">
                </div>
                <div class="formDiv">
                    <input class="btn btnInput" type="submit" value="Create Listing">
                </div>

            </form>
        </div>
    </div>
{% endblock %}