{% extends "auctions/layout.html" %}

{% block body %}
    <h1>
        {{listing.title}}
    </h1>
    {% if user.is_authenticated %}
        <form action="{% url 'edit_watchlist' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            {% if isOnWatchlist %}
                <input class="btn btn-primary" type="submit" value="Remove from Watchlist">
            {% else %}
                <input class="btn btn-primary" type="submit" value="Add to Watchlist">
            {% endif %}
        </form>
        {% if not isOwner and listing.isActive %}
            <form action="{% url 'bid' listing_id=listing.id %}" method="post">
                {% csrf_token %}
                <input class="form-control" type="number" min=0 name="bid" placeholder="Enter bid amount">
                <input class="btn btn-primary" type="submit" value="Place bid">
            </form>
            {% if bidMessage %}
                <div id="bidMessage">
                    {{ bidMessage }}
                </div>
            {% endif %}
        {% elif isOwner and listing.isActive%}
            <form action="{% url 'closeAuction' listing_id=listing.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Close auction">
        {% endif %}
        {% if not listing.isActive %}
            This Auction has been closed
            {% if user == listing.winner %}
                You won the auction, {{listing.winner}}!
            {% endif %}
        {% endif %}
            
    {% endif %}

    {% if listing.image != None%}
        <img src="{{listing.image}}">
    {% endif %}
    <h3> 
        {% if latestBidder%}
            Latest bid: {{listing.price.bid}} by {{latestBidder}}
        {% else %}
            Starting price: {{listing.price.bid}}
        {% endif %}
    </h3>
    {{listing.description}}
    {{listing.datetime}}

    <h2>
        Write a comment
    </h2>
    <form action="{% url 'comment' listing_id=listing.id %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="comment" placeholder="Your comment">
        <input class="btn btn-primary" type="submit" value="Send comment">
    </form>
    {% if comments %}
        {% for comment in comments %}
            {{comment.user}} Wrote:
            {{comment.comment}}
            <br>
            <br>
        {% endfor %}
    {% endif %}

{% endblock %}