{% extends "auctions/layout.html" %}

{% block body %}
    <h1>
        {{listing.title}}
    </h1>
    {% if user.is_authenticated %}
        <form action="{% url 'edit_watchlist' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            {% if isOnWatchlist %}
                <input class="btn btn-primary" type="submit" value="Remove from Watchlist">
            {% else %}
                <input class="btn btn-primary" type="submit" value="Add to Watchlist">
            {% endif %}
        </form>
        <form action="{% url 'bid' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <input class="form-control" type="number" min=0 name="bid" placeholder="Enter bid amount">
            <input class="btn btn-primary" type="submit" value="Place bid">
        </form>
        {% if bidMessage %}
            <div id="bidMessage">
                {{ bidMessage }}
            </div>
        {% endif %}
    {% endif %}

    {% if listing.image != None%}
        <img src="{{listing.image}}">
    {% endif %}
    <h3> 
        {{listing.price.bid}}
    </h3>
    {{listing.description}}
    {{listing.datetime}}
{% endblock %}