{% extends "auctions/layout.html" %}

{% block body %}
    <div class="authContainer">
        <div class="loginCard">
            <div class="formDiv">
                <h2 class="cardTitle"> Log In </h2>
            </div>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="formDiv">
                    <input autofocus class="formInput" type="text" name="username" placeholder="Username">
                </div>
                <div class="formDiv">
                    <input class="formInput" type="password" name="password" placeholder="Password">
                </div>
                {% if message %}
                    <div id="loginMessage">{{ message }}</div>
                {% endif %}
                <div class="formDiv">
                    <input class="btn btnInput" type="submit" value="Log In">
                </div>
            </form>
            <div class="formDiv">
                <div class="regText">Don't have an account? <a class="regLink" href="{% url 'register' %}">Register here.</a></div>
            </div>
        </div>
    </div>
{% endblock %}